.selection-list {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: default;
  display: inline-block;
  border: 1px solid #888;
  border-radius: 2px;
}

.selection-list li {
  padding: 6px 10px;
}

.selection-list li[data-focused="true"] {
  background: #808080;
  color: #fff;
  font-weight: 700;
}

.selection-list li[aria-selected="true"] {
  background: dodgerblue;
  color: #fff;
}
